proj.*/
!proj.win32
!proj.linux
cocos2d/
cocosstudio/
*.db
*.ccs
*.udf
*.cfg
.cocos-project.json
config.json
*.xcf
*.cmake
bin/
lib/
CMakeFiles/
Makefile
CMakeCache.txt
.idea/
cmake-build-debug/
cmake-build-release/